@inject GameConnection connection


<h3>Day @connection.Room.GameState.DayCount</h3>

@if (connection.Room.IsHost(connection.GetConnectionId()))
{
    <div>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th>Votes</th>
                <th></th>
            </tr>
            @foreach (var p in connection.Room.GameState.Players)
            {

                @if (p.Role != RolesEnum.Host)
                {
                    <tr>
                        <td>
                            @p.RoomUser.Name
                        </td>
                        <td>
                            @p.Role
                        </td>
                        <td>
                            @string.Join(", ", connection.Room.GameState.Players.Where(player => (player.SelectedPlayer?.RoomUser.ConnectionId ?? "") == p.RoomUser.ConnectionId).Select(m => m.RoomUser.Name + " " + m.Role).ToList())
                        </td>
                        <td>
                            @if (connection.GetUserSelf().Role == RolesEnum.Host)
                            {
                                if (p.IsAlive)
                                {
                                    <button class="btn btn-warning" @onclick="@(() => ToggleDead(p))">Dead</button>
                                }
                                else
                                {
                                    <button class="btn btn-warning" @onclick="@(() => ToggleDead(p))">Make Alive</button>
                                }

                            }
                        </td>
                    </tr>
                }

            }

        </table>
    </div>
    <button class="btn btn-primary" @onclick="GoToNextGamePeriod">Next</button>
}
else
{
    <div>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th>Votes</th>
                <th></th>
            </tr>
            @foreach (var p in connection.Room.GameState.Players)
            {

                @if (p.Role != RolesEnum.Host)
                {
                    <tr>
                        <td>
                            @p.RoomUser.Name
                        </td>
                        <td>
                            @if (p.Role == RolesEnum.Mafia && connection.GetUserSelf().Role == RolesEnum.Mafia)
                            {
                                <span> - Mafia</span>
                            }
                            @if (p.Role == RolesEnum.Detective && connection.GetUserSelf().Role == RolesEnum.Detective)
                            {
                                <span> - Detective</span>
                            }
                            @if (!p.IsAlive)
                            {
                                <span> (Dead)</span>
                            }
                        </td>
                        <td>
                            @string.Join(", ", connection.Room.GameState.Players.Where(player => (player.SelectedPlayer?.RoomUser.ConnectionId ?? "") == p.RoomUser.ConnectionId && player.Role == connection.GetUserSelf().Role).Select(m => m.RoomUser.Name + " " + m.Role).ToList())
                        </td>
                    </tr>
                }

            }

        </table>
    </div>
}


@code {
    protected override void OnInitialized()
    {
        connection.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        connection.OnChange -= StateHasChanged;
    }

    public async Task GoToNextGamePeriod()
    {
        await connection.GoToNextGamePeriod();
    }

    private async Task ToggleDead(Player p)
    {
        await connection.ToggleDead(p);
    }
} 